<div class="example-container">
  
  <div class="row bg-dark">
  <div class="col-md-4">dsd</div>
  <div class="col-md-4">dsd</div>
  <div class="col-md-4">dsd</div>
  </div>
  
    <mat-form-field>
      <input matInput placeholder="Ingresa tu correo electrónico" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Ingresa tu clave" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-button name="btn-ingresar">Ingresar</button> 


</div>