

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>CONTACTOS</mat-toolbar>
      <mat-nav-list>

        <div *ngFor = "let list of listUsers">

        <a mat-list-item 
        (click)="listarMensajes(list.email)">{{list.nombres}}</a>
        
      </div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      
     <mat-toolbar color="primary">
      <div *ngFor="let user of dataContact">   
     <h1> {{user.nombres}} {{user.apellidos}}</h1>
    </div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <button mat-raised-button (click)="openDialog()">Button</button>
      </mat-toolbar>
       
      <app-chat [listaMensajes]="listaMensajes" [dataContact]="dataContact"></app-chat>

      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  
